footer {
	background-color: #8769dc;
	color: #ffffff;
	margin-top: 32px;
}

.social-logos {
	width: 135px;
	display: flex;
	justify-content: space-between;
}

h4,
h5 {
	margin: 0;
}

.container-lg {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
