<section-title>Carreira</section-title>

<div class="row">
	<div [ngClass]="isDesktop ? 'col-5' : 'col-12'">
		<h3>Certificados</h3>

		<div *ngFor="let card of certifications" class="medium-card">
			<img [src]="card.companyLogo" alt="Logo da empresa" height="48" width="48" />

			<div>
				<h4>
					{{ card.courseName }}
				</h4>

				<p>
					{{ card.companyName }}
				</p>

				<p>Certificado emitido em {{ card.endDate| certDatePipe }}</p>

				<button type="button" (click)="openCertification(card.url)">
					Acessar certificado
					<img src="./assets/icons/external link.svg" alt="" />
				</button>
			</div>
		</div>
	</div>

	<div class="d-none-mobile col-2">
		<img src="./assets/images/line.svg" alt="" />
	</div>

	<div [ngClass]="isDesktop ? 'col-5' : 'col-12'">
		<h3>Experiência</h3>

		<div *ngFor="let card of experience" class="medium-card">
			<img [src]="card.companyLogo" alt="" height="48" width="48" />

			<div>
				<h4>
					{{ card.position }}
				</h4>

				<p>
					{{ card.companyName }}
				</p>

				<p>
					{{ card.startDate | certDatePipe }} -
					{{ card.endDate | certDatePipe }}
				</p>
			</div>
		</div>
	</div>
</div>