<section-title>Carreira</section-title>

<div class="row">
	<div [ngClass]="isDesktop ? 'col-5' : 'col-12'">
		<h3>Certificados</h3>

		@for (cert of certifications; track $index) {
		<div class="medium-card">
			<img
				[src]="cert.companyLogo"
				alt="Logo da empresa"
				height="48"
				width="48"
			/>

			<div>
				<h4>
					{{ cert.courseName }}
				</h4>

				<p>
					{{ cert.companyName }}
				</p>

				<p>Certificado emitido em {{ cert.endDate | certDatePipe }}</p>

				<button type="button" (click)="openCertification(cert.url)">
					Acessar certificado
					<img src="./assets/icons/external link.svg" alt="" />
				</button>
			</div>
		</div>

		}
	</div>

	<div class="d-none-mobile col-2">
		<img src="./assets/images/line.svg" alt="" />
	</div>

	<div [ngClass]="isDesktop ? 'col-5' : 'col-12'">
		<h3>Experiência</h3>

		@for(exp of experience; track $index) {
		<div class="medium-card">
			<img [src]="exp.companyLogo" alt="" height="48" width="48" />

			<div>
				<h4>
					{{ exp.position }}
				</h4>

				<p>
					{{ exp.companyName }}
				</p>

				<p>
					{{ exp.startDate | certDatePipe }} -
					{{ exp.endDate | certDatePipe }}
				</p>
			</div>
		</div>
		}
	</div>
</div>
