<section-title>Sobre mim</section-title>

<p class="about">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at nunc a
	nibh sollicitudin faucibus. Suspendisse id finibus nisi, ac volutpat sapien.
	Praesent egestas urna et interdum cursus. Integer luctus lectus metus, et
	aliquet diam sodales ut. Suspendisse maximus quis metus et congue. Phasellus
	semper venenatis mauris. Cras eu condimentum orci, a euismod purus. Nunc
	commodo tellus venenatis semper vulputate. Maecenas lobortis pretium bibendum.
</p>

<div class="personal-infos d-none-mobile">
	<img src="./assets/images/profile-photo.svg" alt="" class="me-3" />

	<div>
		<h3>Olá, eu sou Nicolas</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at nunc
			a nibh sollicitudin faucibus. Suspendisse id finibus nisi, ac volutpat
			sapien. Praesent egestas urna et interdum cursus. Integer luctus lectus
			metus, et aliquet diam sodales ut. Suspendisse maximus quis metus et
			congue. Phasellus semper venenatis mauris. Cras eu condimentum orci, a
			euismod purus. Nunc commodo tellus venenatis semper vulputate. Maecenas
			lobortis pretium bibendum.
		</p>

		<p><b> Nome: </b> Nicolas Soares Henrique</p>

		<p><b> Nascimento: </b> 07/08/1998</p>

		<p><b> Endereço: </b> Santa Catarina - Brasil</p>

		<p><b> Telefone: </b> +55 (48) 98468-9248</p>

		<p><b> E-mail: </b> nicolas.soaresh.98@gmail.com</p>
	</div>
</div>
