<section-title>Sobre</section-title>

<div class="personal-infos d-none-mobile">
	<img
		src="./assets/images/profile-photo.jpeg"
		alt="Foto de perfil"
		class="me-3 w-50"
	/>

	<div>
		<p>
			"Se você não tem sequer a coragem de enxergar a realidade, como pode ter a
			pretensão de mudá-la?" Desenvolvedor Front End, especializado em Angular.
			Comecei na área de programação em 2021, trabalhando para a Secretaria do
			Estado da Saúde. Lá, pude contribuir com um projeto inovador focado em
			gestão de saúde. Aprendi muito e pude contribuir com o projeto aplicando
			metodologias e libs que aprendia em cursos e também ajudava meus colegas
			de trabalho com suas dificuldades. Depois comecei a atuar na Capgemini,
			onde pude participar de desafios tais como o desenvolvimento de um SSO
			(Single Sign On), uma biblioteca frontend para utilizar componentes em
			diferentes sistemas, implementação de animações e programação reativa com
			RxJS. Depois de um tempo eu fui chamado para atuar como tech lead front
			end. Também já atuei como professor de programação, onde eu ensinava os
			alunos sobre toda API do Angular e sobre como criar aplicativos com o
			Angular e outras bibliotecas em conjunto.
		</p>
	</div>
</div>
