<section-title>Sobre mim</section-title>

<p class="about">
	Desenvolvedor Full Stack, especializado em Angular. Trabalho profissionalmente
	com Angular desde 2021, aprimorando o desempenho e as integrações de
	aplicativos, e tenho experiência no desenvolvimento de sites de com Angular e
	Express.JS. Sou apaixonado por construir produtos de sucesso, um ótimo membro
	de equipe, com experiência em otimizar processos para melhorar a experiência
	do cliente e solucionar problemas de projetos de forma eficiente.
</p>

<div class="personal-infos d-none-mobile">
	<img src="./assets/images/profile-photo.svg" alt="" class="me-3" />

	<div>
		<h3>Olá, eu sou Nicolas</h3>
		<p>
			Minha carreira como programador começou na BRD Soluções de TI, onde eu
			prestava serviços de consultoria para a Secretaria do Estado da Saúde. Lá,
			eu usava Angular, onde tive meu primeiro contato, para criação das
			interfaces e JPA para criação dos endpoints no backend. Após um tempo,
			comecei a trablhar para a Capgemini, onde trabalho atualmente como
			desenvolvedor sênior. Desde que entrei, aprendi muita coisa, seja através
			das implementações, seja através de cursos online e também em projetos
			pessoais, onde pude pôr em prática o que eu aprendi nos cursos.
		</p>

		<p><b> Nome: </b> Nicolas Soares Henrique</p>

		<p><b> Nascimento: </b> 07/08/1998</p>

		<p><b> Endereço: </b> Santa Catarina - Brasil</p>

		<p><b> Telefone: </b> +55 (48) 98468-9248</p>

		<p><b> E-mail: </b> nicolas.soaresh.98@gmail.com</p>
	</div>
</div>
