<section-title>Projetos</section-title>

<div class="projects-cards">
	@for(project of cardsInfos; track $index) {
	<div class="big-card">
		<h3 class="d-none-desktop">
			{{ project.title }}
		</h3>

		<video width="400" height="300" controls>
			<source type="video/mp4" [src]="project.imageUrl" />
		</video>

		<div>
			<h3 class="d-none-mobile">
				{{ project.title }}
			</h3>
			<p>
				{{ project.description }}
			</p>

			<p>Tecnologias: {{ project.technologiesUsed }}</p>
		</div>
	</div>
	}
</div>
