<mat-drawer-container>
	<mat-drawer #drawer>
		<mat-selection-list #shoes multiple="false">
			<mat-list-option> Inicio </mat-list-option>
			<mat-list-option> Sobre mim </mat-list-option>
			<mat-list-option> Tecnologias </mat-list-option>
			<mat-list-option> Projetos </mat-list-option>
			<mat-list-option> Carreira </mat-list-option>
			<mat-list-option> Contato </mat-list-option>
		</mat-selection-list>
	</mat-drawer>

	<div class="content">
		<app-home (openSideNav)="drawer.toggle()"></app-home>
		<app-footer></app-footer>
	</div>
</mat-drawer-container>
