<header>
  <div>
    <button mat-button>Início</button>
    <button mat-button>Sobre mim</button>
    <button mat-button>Tecnologias</button>
    <button mat-button>Projetos</button>
    <button mat-button>Carreira</button>
    <button mat-button>Contato</button>
  </div>

  <div>
    <img
      src="./assets/icons/dark-mode-icon.svg"
      alt=""
      width="24"
      height="24"
    />
  </div>
</header>

<div class="infos-section">
  <div>
    <h1>Nicolas Soares Henrique</h1>
    <h2>Fullstack developer</h2>

    <h3>
      Programador, professor e designer com experiência em grandes empresas e
      diversos certificados adquiridos e projetos criados
    </h3>

    <img src="./assets/icons/Star 1.svg" alt="" />
    <img src="./assets/icons/Star 1.svg" alt="" />
    <img src="./assets/icons/Star 1.svg" alt="" />
    <img src="./assets/icons/Star 1.svg" alt="" />
    <img src="./assets/icons/Star 1.svg" alt="" />

    <br />

    <div class="social-logos">
      <img src="./assets/icons/linkedin-logo.svg" alt="" />
      <img src="./assets/icons/WhatsApp logo.svg" alt="" />
      <img src="./assets/icons/instagram logo.svg" alt="" />
      <img src="./assets/icons/GitHub logo.svg" alt="" />

    </div>
  </div>
</div>


<app-about></app-about>