header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	button {
		color: #ffffff;
	}
}

.infos-section {
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	margin: auto;
	text-align: center;
	max-width: 429px;
	height: 496px;

	div {
		height: fit-content;
	}

	h1 {
		font-size: 36px;
		font-weight: 500;
	}
}

.social-logos {
	width: 135px;
	margin: auto;
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
}
