<div class="top-page">
	<header>
		<div class="d-none-mobile">
			<button mat-button (click)="goTo(home)">Início</button>
			<button mat-button (click)="goTo(about)">Sobre mim</button>
			<button mat-button (click)="goTo(tecs)">Tecnologias</button>
			<button mat-button (click)="goTo(projects)">Projetos</button>
			<button mat-button (click)="goTo(carrer)">Carreira</button>
		</div>

		<button mat-icon-button (click)="emit()" class="d-none-desktop">
			<mat-icon>menu</mat-icon>
		</button>
	</header>

	<div class="infos-section" #home>
		<div>
			<h1>Nicolas Soares Henrique</h1>
			<h2>Senior frontend Angular engineer</h2>

			<social-logos></social-logos>
		</div>
	</div>
</div>

<div class="container-lg">
	<div #about>
		<app-about></app-about>
	</div>

	<div #tecs>
		<app-technologies></app-technologies>
	</div>

	<div #projects>
		<app-projects></app-projects>
	</div>

	<div #carrer>
		<app-carrer></app-carrer>
	</div>
</div>
