<div class="top-page">
	<header>
		<div class="d-none-mobile">
			<button mat-button (click)="goTo(home)">Início</button>
			<button mat-button (click)="goTo(about)">Sobre mim</button>
			<button mat-button (click)="goTo(tecs)">Tecnologias</button>
			<button mat-button (click)="goTo(projects)">Projetos</button>
			<button mat-button (click)="goTo(carrer)">Carreira</button>
			<button mat-button (click)="goTo(contact)">Contato</button>
		</div>

		<button mat-icon-button (click)="emit()" class="d-none-desktop">
			<mat-icon>menu</mat-icon>
		</button>

		<div>
			<img
				src="./assets/icons/dark-mode-icon.svg"
				alt=""
				width="24"
				height="24"
				class="me-2"
			/>
		</div>
	</header>

	<div class="infos-section" #home>
		<div>
			<h1>Nicolas Soares Henrique</h1>
			<h2>Fullstack developer</h2>

			<h3>
				Programador, professor e designer com experiência em grandes empresas e
				diversos certificados adquiridos e projetos criados
			</h3>

			<img src="./assets/icons/Star 1.svg" alt="" />
			<img src="./assets/icons/Star 1.svg" alt="" />
			<img src="./assets/icons/Star 1.svg" alt="" />
			<img src="./assets/icons/Star 1.svg" alt="" />
			<img src="./assets/icons/Star 1.svg" alt="" />

			<br />

			<div class="social-logos">
				<img
					src="./assets/icons/linkedin-logo.svg"
					alt=""
					[redirectTo]="
						'https://www.linkedin.com/in/nicolas-soares-henrique-0ab8a2125/'
					"
				/>
				<img
					src="./assets/icons/WhatsApp logo.svg"
					alt=""
					redirectTo="
							https://wa.me/5548984689248?text=Ol%C3%A1%20Nicolas%2C%20acessei%20seu%20portfolio%20e%20gostaria%20de%20conversar%20contigo...
					"
				/>
				<img
					src="./assets/icons/instagram logo.svg"
					alt=""
					redirectTo="
					https://www.instagram.com/nicolas_soares98/
					"
				/>
				<img
					src="./assets/icons/GitHub logo.svg"
					alt=""
					redirectTo="
					https://github.com/root6439
					"
				/>
			</div>
		</div>
	</div>
</div>

<div class="container-lg">
	<div #about>
		<app-about></app-about>
	</div>

	<div #tecs>
		<app-technologies></app-technologies>
	</div>

	<div #projects>
		<app-projects></app-projects>
	</div>

	<div #carrer>
		<app-carrer></app-carrer>
	</div>

	<div #contact>
		<app-contact></app-contact>
	</div>
</div>
