<div class="social-logos">
	<img src="./assets/icons/linkedin-logo.svg" alt="" [redirectTo]="
			'https://www.linkedin.com/in/nicolas-soares-henrique/'
		" />
	<img src="./assets/icons/WhatsApp logo.svg" alt="" redirectTo="
							https://wa.me/5548984689248?text=Ol%C3%A1%20Nicolas%2C%20acessei%20seu%20portfolio%20e%20gostaria%20de%20conversar%20contigo...
					" />
	<img src="./assets/icons/instagram logo.svg" alt="" redirectTo="
					https://www.instagram.com/nicolas_soares98/
					" />
	<img src="./assets/icons/GitHub logo.svg" alt="" redirectTo="
					https://github.com/root6439
					" />
</div>